<!DOCTYPE html>
<html lang="ja">
    
<head>
    <meta http-equiv="content-type" content="text/html;" charset="UTF-8">
    <title><%=title %></title>
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" crossorigin="anonymous"> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.2.0/p5.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.2.0/addons/p5.sound.min.js"></script>
    <link rel="stylesheet" href="/stylesheets/sanitize.css">
    <!-- <link rel="stylesheet" href='/stylesheets/top.css' />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&display=swap" rel="stylesheet">  -->
</head>

<body class="container">
  <script src="/javascripts/roulette.js"></script>
  <script>
    setTimeout(function(){
      window.location.href = '/timeKiller/developer';
    }, 10*1000);
  </script>
</body>

</html>